# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{args}]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{resource, robot}]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

[*.{yml,toml,json}]
indent_style = space
indent_size = 2